# Intro to Pandas

![image info](./img/panda.gif)


Try attempting the exercises below to help you build your confidence when working with Pandas.

We may not have covered everything below, so you will have to use your preferred search engine to find the solution(s)!

Here's a list of references that might help you with the exercises below:

* [Pandas Series Documentation](https://pandas.pydata.org/docs/reference/api/pandas.Series.html)
* [Pandas Max Documentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.max.html)
* [Pandas Mean Documentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.mean.html)
* [Pandas Median Documentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.median.html)

First things first... Import both Numpy and Pandas. Given them the aliases `np` and `pd` respectively.

In [ ]:
# your code here

Convert the list below into a [Pandas Series](https://pandas.pydata.org/docs/reference/api/pandas.Series.html) and save it to a variable called `series1`

In [ ]:
lst1 = [41.2, 87.5, 54.7, 1.9, 25.7, 99.7, 25.1, 65.1]

In [ ]:
# your code here

What type of variable is `series1`? **Hint:** Use the `type()` function [Check out this page](https://www.w3schools.com/python/ref_func_type.asp)

In [ ]:
# your code here

Return the fifth value in the Series declared above using indexing

*Don't forget that indexing starts at 0*

In [ ]:
# your code here

What is the data structure shown below?

In [ ]:
x = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 10.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [ ]:
# your answer here

Convert `x` into a Pandas DataFrame called `dfx`

In [ ]:
# your code here

Display `dfx`

In [ ]:
# your code here

Set the 5 column names of `dfx` to each of the elements in the `col_names` variable below (respectively).

Dan hasn't shown you how to do this, so why not search the internet for yourself? What would you search for?

If you're struggling, take a look at this [Q&A](https://stackoverflow.com/questions/45468630/change-column-names-in-pandas-dataframe-from-a-list)

In [ ]:
col_names = ['Test_A', 'Test_B', 'Test_C', 'Test_D', 'Test_E']

In [ ]:
# your code here

Display `dfx` with its shiny new column names

In [ ]:
# your code here

Create a subset of the data frame containing only the Test B, D and E columns. Assing this to `dfx_ss`. Display this sub set data frame.

In [ ]:
# your code here

Using the original data frame `dfx` calculate the *[average](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.mean.html)* score of *Test E*.

In [ ]:
# your code here

Using the original data frame `dfx` calculate the *[maximum](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.max.html)* score of *Test A*.

In [ ]:
# your code here

Using the original data frame `dfx` calculate the *[median](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.median.html)* score of *Test B*.

In [ ]:
# your code here

Convert `inventory` into a Pandas DataFrame called `dfinv` then display it

In [ ]:
inventory = {'Description': ['LUNCH BAG APPLE DESIGN',
                             'SET OF 60 VINTAGE LEAF CAKE CASES ',
                             'RIBBON REEL STRIPES DESIGN ',
                             'WORLD WAR 2 GLIDERS ASSTD DESIGNS',
                             'PLAYING CARDS JUBILEE UNION JACK',
                             'POPCORN HOLDER',
                             'BOX OF VINTAGE ALPHABET BLOCKS',
                             'PARTY BUNTING',
                             'JAZZ HEARTS ADDRESS BOOK',
                             'SET OF 4 SANTA PLACE SETTINGS'],
             'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
             'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
             'TotalValue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]}

In [ ]:
# your code here

What is the total value of all the inventory above?

In [ ]:
# your code here

What is the value of the most expensive item in the inventory?

In [ ]:
# your code here

What is the value of the least expensive item in the inventory?

In [ ]:
# your code here

The end.